/** @format */

.greenquote {
  height: 65vh;
  @media(max-height:900px){
    height:100vh;
  }
  background-color: $color-main;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;

  .sake {
    font-size: 150px;

    margin-top: 0;
    top: 0;
    text-align: top;
    color: #161819;
    line-height: 170px;
    margin-top: 0 !important;
    padding-top: 0 !important;
    height: auto;

    .hidden {
      opacity: 0;
      filter: blur (0px);
      transform: translateX(0%);
      transition: all 0.7s;
      height: 100%;
    }
    .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
      transform: translateY(0);
      max-height: 100%;
    }

    h1 {
      text-align: top;
      color: #242529;
      margin-top: -1px !important;
      padding-top: -20px !important;
    }
  }

  .zeit {
    .hidden {
      opacity: 0;
      filter: blur (0px);
      transform: translateX(0%);
      transition: all 0.7s;
      height: 100%;
    }
    .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
      transform: translateY(0);
      max-height: 100%;
    }
    font-size: 56px;
    text-align: center;

    p {
      color: white;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .oida {
    .hidden {
      opacity: 0;
      filter: blur (100px);
      transform: translatey(+50%);
      transition: all 0.7s;
      height: 100%;
      animation:none;
    }
    .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
      transform: translateY(0);
      max-height: 100%;
      animation: blink 3s linear infinite;
    }
    font-size: 48px;
    p {
      color: white;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 900px) {
  .greenquote {
    height: 60vh;
    position: relative;
    top: 5vh;

    .sake {
      line-height: 60px;
      h1 {
        font-size: 50%;
        padding-top: -20px !important;
        font-weight: 300;
        text-align: left;
        margin-bottom: 0 !important;
        margin-left: 15%;
      }
    }
    .zeit {
      position: absolute;
      bottom: 5vh;
      p {
        font-size: 50%;
        font-weight: 100;
        text-align: left;
        margin-top: 5vh;
        margin-left: 15%;
      }
    }
    .oida {
      width: 0;
      height: 0;
      p {
        opacity: 0;
      }
    }
  }
}
