/** @format */

.shopMain {
  display: flex;
  flex-direction: row;
  font-family: "Outfit";
  background-color: #ae8e7c;
  height: 100vh;
  h1,
  h2,
  p {
    color: white;
    font-weight: 300;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }

  p {
    font-size: 30px;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    .roundedges {
      height: 50vh;
      align-items: center;
      width: 100%;
      position: relative;
      img {
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;

        margin: auto;
        align-items: center;
        transition: filter 0.5s;
      }
      img {
        filter: brightness(100%); /* initial brightness */
      }

      img:hover {
        filter: brightness(70%); /* reduce brightness on hover */
      }
    }
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    .roundedges {
      height: 50vh;
      align-items: center;
      width: 100%;
      position: relative;
      img {
        height: 100%;
        max-height: 140%;
        position: absolute;
        left: 0;
        right: 0;

        margin: auto;
        align-items: center;
        filter: brightness(100%);
        transition: filter 0.5s;
      }
      img {
        filter: brightness(100%); /* initial brightness */
      }

      img:hover {
        filter: brightness(70%); /* reduce brightness on hover */
      }
    }
  }
}

@media (max-width: 1100px) {
  .shopMain {
    display: flex;
    flex-direction: column;
    .leftSide {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .roundedges {
        height: 50vh;
        align-items: center;
        width: 100%;
        position: relative;
        img {
          height: 100%;
          position: absolute;
          left: 0;
          right: 0;

          margin: auto;
          align-items: center;
          transition: filter 0.5s;
        }
        img {
          filter: brightness(100%); /* initial brightness */
        }

        img:hover {
          filter: brightness(70%); /* reduce brightness on hover */
        }
      }
    }
    .rightSide {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .roundedges {
        height: 50vh;
        align-items: center;
        width: 100%;
        position: relative;
        img {
          height: 100%;
          max-height: 140%;
          position: absolute;
          left: 0;
          right: 0;

          margin: auto;
          align-items: center;
          filter: brightness(100%);
          transition: filter 0.5s;
        }
        img {
          filter: brightness(100%); /* initial brightness */
        }

        img:hover {
          filter: brightness(70%); /* reduce brightness on hover */
        }
      }
    }
  }
}
